<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mgr.mtp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".Register"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.DietSearchProduct"
            android:label="@string/search_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.DietAddProduct"
            android:label="@string/addProduct_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.DietSettings"
            android:label="@string/dietSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Training.TrainingWorkout"
            android:label="@string/title_training"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Statistics.StatisticsUpdateBodyMeasures"
            android:label="@string/updateMeasures"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Statistics.StatisticsDisplayChart"
            android:label="@string/displayChart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.DietMealHome"
            android:label="@string/title_activity_diet_meal_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Training.TrainingExerciseDetails"
            android:label="@string/title_activity_training_exercise_details"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>